# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Processed datasets
data/processed/*
!data/processed/.gitkeep
!data/processed/cleaned_dataset.csv

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
